[submodule "External/Prelude"]
	path = External/Prelude
	url = https://github.com/robrix/Prelude
[submodule "External/Assertions"]
	path = External/Assertions
	url = https://github.com/antitypical/Assertions.git
[submodule "External/SwiftCheck"]
	path = External/SwiftCheck
	url = https://github.com/robrix/SwiftCheck.git
